<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AZI_SWCustomProperties.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AZI_SWCustomProperties.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AZI_SWCustomProperties.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AZI_SWCustomProperties.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="AZI_SWCustomProperties.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <applicationSettings>
    <AZI_SWCustomProperties.Properties.AppSettings>
      <setting name="OdooCredentialTarget" serializeAs="String">
        <value>AZI-SWCustomProperties-OdooUser</value>
      </setting>
    </AZI_SWCustomProperties.Properties.AppSettings>
    <AZI_SWCustomProperties.Properties.Settings>
      <setting name="OdooCredentialTarget" serializeAs="String">
        <value>AZI-SWCustomProperties-OdooUser</value>
      </setting>
    </AZI_SWCustomProperties.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AZI_SWCustomProperties.Properties.UserSettings>
      <setting name="OdooUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="OdooDb" serializeAs="String">
        <value />
      </setting>
    </AZI_SWCustomProperties.Properties.UserSettings>
    <AZI_SWCustomProperties.Properties.AppSettings>
      <setting name="SwLicenseKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="ImageHeight" serializeAs="String">
        <value>1024</value>
      </setting>
    </AZI_SWCustomProperties.Properties.AppSettings>
    <AZI_SWCustomProperties.Properties.Settings>
      <setting name="OdooUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="OdooDb" serializeAs="String">
        <value />
      </setting>
      <setting name="SwLicenseKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="ImageHeight" serializeAs="String">
        <value>1024</value>
      </setting>
    </AZI_SWCustomProperties.Properties.Settings>
  </userSettings>
</configuration>